body {
  font-family: Arial, sans-serif;
  background-color: #FFF1E6;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #FFF1E6;
  border-radius: 8px;
}

h1 {
  font-size: 2em;
  color: #2cb42e;
}

h2 {
  font-size: 1.5em;
  color:  #ff71a8;
}

li {
    cursor: pointer;
    margin: 5px 0;
}

.completed {
   text-decoration: line-through;
   color: gray; 
}

button[type="addTask"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #75df77;
  color: white;
  border: none;
}